# Paystack Gateway Keys
PAYSTACK_SECRET_KEY=
VITE_PAYSTACK_PUBLIC_KEY=

# Supabase Database Keys
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
